* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    background: aliceblue;
}

input {
    outline: none;
    border: none;
    width: 320px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 25px;
}

form {
    text-align: center;
    padding: 10px 10px;
    font-size: 30px;
    color: cadetblue;
}

fieldset {
    padding: 10px 10px;
}

div {
    color: cornflowerblue;
}