body {
    background: aliceblue;
}
a{
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: cadetblue;
    margin-top: 100px;
}

form {
    text-align: center;
    padding: 20px 10px;
    font-size: 30px;
    color: cadetblue;
}
legend {
    text-align: center;
    font-size: 30px;
}