<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Reddit</title>
    </head>
    <body>
    <a href="/add">Submit new post</a>
        <h1>Trending posts</h1>
        <table>
            <tbody>
                <tr th:each="post: ${posts}">
                    <td th:text="${post.getScore()}"></td>
                    <td>
                        <div>
                            <a th:href="'/' + ${post.getId()} + '/voteup'"><span>+</span></a>
                            <a th:href="'/' + ${post.getId()} + '/votedown'"><span>-</span></a>
                        </div>
                    </td>
                    <td><h3> <a th:href="${post.url}" th:text="${post.getTitle()}"></a></h3> </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>