<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Multiple Accounts</title>
    <link rel="stylesheet" href="/css/multiple.css" />
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Index</th>
        <th>King</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animaltype</th>
    </tr>
    <tbody>
    <tr th:each="character : ${characterlist}">
        <td th:text="${characterStat.index}"></td>
        <td th:if="${character.king}" th:text="yes" style="background-color: aqua"></td>
        <td th:unless="${character.king}" th:text="no"></td>
        <td th:text="${character.name}"></td>
        <td th:text="${character.balance} + ' ' + ${character.currency}"></td>
        <td th:text="${character.animalType}"></td>
    </tr>
    </thead>
</table>
</body>
</html>