<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:action="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Todos</title>
    </head>
    <body>
    <form action="/todo/add" method="get">
        <input type="submit" value="Add new todo" />
    </form>
        <h1>Todos for today:</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Done</th>
                <th>Urgent</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.id}"/>
                <td th:text="${todo.title}"/>
                <td th:text="${todo.done}"/>
                <td th:text="${todo.urgent}"/>
                <td>
                <form action="/todo/delete" method="POST">
                    <input type="hidden" name="id" th:value="${todo.id}">
                    <input type="submit" value="delete"/>
                </form>
                </td>
            </tr>
            </tbody>
    </table>
    </body>
</html>