<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Useful Link</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
    <ul>
        <li><a href="/profile/info">Information</a></li>
        <li><a href="/profile/tricks">Tricks</a></li>
        <li><a th:href="@{'/profile/' + ${fox.name} + '/nutrition'}" th:text="Nutrition"></a></li>
        <li><a href="http://localhost:8080">Logout</a></li>
    </ul>
        <img src="/greenfox.png">
    <h1>Known tricks:</h1>
    <p th:text="${fox.name}"></p>
    </body>
</html>