<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Useful Link</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="/css/useful.css" />
    </head>
    <body>

    <form action="useful/colored">
        <input type="submit" th:value="${bgcolor}" />
    </form>
    <form action="useful/email?email=" + name>
        Test your e-mail:
        <input type="text" name="email" value="example@example.com" size="40">
    </form>
        <a href="http://localhost:8080/useful/caesar"><p th:text="${encoder}"></p></a>
    </body>
</html>