<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Useful Link</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="/css/useful.css" />
    </head>
    <body>

    <form action="useful/colored">
        <input class="submit" type="submit" th:value="${bgcolor}" />
    </form>

    <form action="useful/email?email=" + name>
        Test your e-mail:
        <input type="text" name="email" value="example@example.com" size="40">
    </form>

    <form action="useful/encode?encode=" + name>
        <div>
            Caesar Encoding<br>
            Message:<br>
            <input type="text" name="text" value="message">
            <br>
            Number:<br>
            <input type="text" name="number" value="3">
            <br><br>
            <input type="submit" value="Encode">
        </div>
    </form>

    <form action="useful/decode?decode=" + name>
        <div class="decode">
            Caesar decoding<br>
            Message:<br>
            <input type="text" name="text" value="message">
            <br>
            Number:<br>
            <input type="text" name="number" value="3">
            <br><br>
            <input type="submit" value="Decode">
        </div>
    </form>
    </body>
</html>