body {
    background-color: #FDFDFD;
    font-family: 'Source Sans Pro', Sans Serif;
    margin: 0;
}
h1, h2 {
    text-align: center;
}

h2 {
    color: dimgray
}
article {
    margin: 0 auto;
    padding: 0 40px;
    width: 740px;
}

p {
    font-size: 21px;
    font-style: italic;
    line-height: 28px;

}